<p id="notice"><%= notice %></p>

<p>
  <strong>Score:</strong>
  <%= @state.score %>
</p>

<p>
  <strong>User email:</strong>
  <%= @state.user_email %>
</p>

<p>
  <strong>Genre name:</strong>
  <%= @state.genre_name %>
</p>

<p>
  <strong>Sub genre name:</strong>
  <%= @state.sub_genre_name %>
</p>

<p>
  <strong>Question:</strong>
  <%= @state.question %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @state.correct %>
</p>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', states_path %>
